.register__block {
    border: 1px solid white;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form__block__input {
    display: flex;
    flex-direction: column-reverse;
}

.form input {
    height: 35px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid gray;
    width: 350px;
}

.error {
    display: flex;
    color: red;
    font-size: 1.2rem;
    max-width: 320px;
    text-align: justify;
}